---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout title="Generate QR Code">
  <section class="mx-auto mt-3 grid max-w-screen-lg gap-3 px-5 sm:grid-cols-2">
    <h1>Generate QR Code</h1>
  </section>
</MainLayout>
